.testimonials-section{
    background-image:linear-gradient(45deg,rgba(2,33,64, 0.8) 55%,rgba(45,95,93,0.85)), url('../img/background2.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
 
.testimonials-section h2{
    margin-bottom: 70px;
}
 
blockquote{
    width: 95%;
    position: relative;
    font-style: italic;
    line-height: 140%;
    color: white;
}
 
blockquote:before{
    content: '\201C';
    display: block;
    font-size: 400%;
    position: absolute;
    top: -10px;
    left: -10px;
}
 
cite{
    display: block;
    color: #6b95bd;
    margin-top: 25px;
}
 
cite img{
    height: 50px;
    border-radius: 50%;
    border: 2px solid #265077;
    vertical-align: middle;
    margin-right: 5px;
}
